---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'Authors' }}>
    <div class="container"><h1>Technical Developer: </h1><h3> Simran and Meenu</h3></div>
</StarlightPage>


<style>
    .container{
        display: flex;
        justify-content: space-between;
    }
    .container h1{
        color: red;
    }
    .container h3{
        color: green;
    }
</style>