---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { CardGrid, LinkCard } from "@astrojs/starlight/components";
---
<StarlightPage frontmatter={{
    title: "",
    template: 'splash'
}}>

<h1 style="color: red;">Choose The Specific Language</h1>

<CardGrid>
  <LinkCard title="Racket" href="/racket/install" class="custom-card"/>
  <LinkCard title="Front-End" href="/tarangCourse " class="custom-card"/>
  <LinkCard title="Back-End" href="" class="custom-card"/>
</CardGrid>

<style>
    .custom-card{
    min-height: 200px;
  }
</style>

</StarlightPage>