---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Pagination.astro';

// Get the base path of the current URL
const currentBase = "/"+ Astro.url.pathname.split('/').slice(0, 3)[1];

// Remove pagination links across product categories.
if (Astro.props.pagination.prev && !Astro.props.pagination.prev.href.startsWith(currentBase)) {
  Astro.props.pagination.prev = undefined;
}
if (Astro.props.pagination.next && !Astro.props.pagination.next.href.startsWith(currentBase)) {
  Astro.props.pagination.next = undefined;
}

// Filter our sidebar groups that do not include links to the current product.
Astro.props.sidebar = Astro.props.sidebar
  .filter((entry) => (
    entry.type === 'group' &&
    entry.entries.some(
      (subEntry) => subEntry.type === 'link' && subEntry.href.startsWith(currentBase)
    )
  ));

const {sidebar} = Astro.props;
const {title} = Astro.props.entry.data;

// Check if the current page is a documentation page (by checking if it has a sidebar)
const {hasSidebar} = Astro.props;
---
{hasSidebar && (
  <div id="status-container">
    <input type="checkbox" name="status" id="status"/>
    <label for="status">Mark as Done</label>
  </div>
)}
<Default {...Astro.props}><slot /></Default>

<!-- Gratuitous extra example of theming Product 2 differently. -->
{currentBase === '/product-2/' &&
<style>
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #36113e;
	--sl-color-accent: #a400c0;
	--sl-color-accent-high: #e3b6ed;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f2e9fd;
	--sl-color-gray-2: #c7bdd5;
	--sl-color-gray-3: #9581ae;
	--sl-color-gray-4: #614e78;
	--sl-color-gray-5: #412e55;
	--sl-color-gray-6: #2f1c42;
	--sl-color-black: #1c1425;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ebc9f3;
	--sl-color-accent: #a700c3;
	--sl-color-accent-high: #4e0e5b;
	--sl-color-white: #1c1425;
	--sl-color-gray-1: #2f1c42;
	--sl-color-gray-2: #412e55;
	--sl-color-gray-3: #614e78;
	--sl-color-gray-4: #9581ae;
	--sl-color-gray-5: #c7bdd5;
	--sl-color-gray-6: #f2e9fd;
	--sl-color-gray-7: #f8f4fe;
	--sl-color-black: #ffffff;
}
</style>
}
<script define:vars={{sidebar, title}}>
	
	const status = document.querySelector('#status');
	const sidebarSelectors = document.querySelectorAll('.notComplete');
	
	mapOverSidebar();

	if(localStorage.getItem(title)==='true')
		status.checked = true;
	else
		status.checked = false;

	status.addEventListener('click',()=>{
		localStorage.setItem(title, status.checked);
		mapOverSidebar();
	})
	
	function mapOverSidebar(){
		sidebar.map((group)=>{
		const items = group.entries;
		for(let i=0; i<items.length; i++){
			if(localStorage.getItem(items[i].label)==='true'){
				sidebarSelectors[i].classList.add("Complete");
				sidebarSelectors[i].classList.remove("notComplete");
			}
			else{
				sidebarSelectors[i].classList.remove("Complete");
				sidebarSelectors[i].classList.add("notComplete");	
			}
		}
	
	})
}
</script>
